<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Library/font-awesome.css" rel="stylesheet" />
    <link href="~/Library/style.css" rel="stylesheet" />
    <script src="~/Library/login.js"></script>
    <script src="~/Library/login1.js"></script>
    <link href="~/Library/login2.css" rel="stylesheet" />
    <link href="~/Library/login3.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    <style>
        .background-bar {
            background-color: #08403A; /*xanh*/
        }

        .background-bg {
            background-color: #D1D1D1; /*Xám*/
        }
    </style>
</head>
<body>
    @RenderBody()
    <style>
        .background-bar {
            background-color: #08403A; /*xanh*/
        }

        .background-bg {
            background-color: #D1D1D1; /*Xám*/
        }
    </style>
</body>
</html>
