@model WebBanVeMayBay.Models.Ticket
@{
    ViewBag.Title = "TicketSearch";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h3 class="text-center mb-4">Tra cứu vé chuyến bay của bạn</h3>
                @using (Html.BeginForm("SearchTicketResult", "Trangchu", FormMethod.Get))
                {
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3"> Căn cước công dân:</label>
                            <input type="text" id="ClientId" name="ClientId" placeholder="Nhập căn cước công dân của bạn" onblur="validate(1)">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3"> Số điện thoại:</label>
                            <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Nhập số điện thoại của bạn" onblur="validate(1)">
                        </div>
                    </div>
                    <div class="row justify-content-between text-center">
                        <div class="form-group col-sm-12 flex-column d-flex pt-sm-4"> <button name="submit" type="submit" value="Tìm kiếm" class="btn-block btn-success align-content-md-center mt-2">Tra cứu</button></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>