@using WebBanVeMayBay.Models;
@model IEnumerable<Product>
@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@*<div class="col-md-12">
    <div class="bottom">
        @foreach (var item in Model.Orderby(n=>n.DateTime))
            {
                <div class="col-md-4 bottom-cd">
                    <div class="fa-product-hunt">

                    </div>
                </div>

            }
    </div>
</div>*@

