
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<body class="background-bar">
    @using (Html.BeginForm())
    {
        <div class="background-bar container ">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card border-0 shadow rounded-3 my-5 background-bg">
                        <div class="card-body p-4 p-sm-5">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                            <form>
                                <div class="form-floating mb-3 ">
                                    <label for="floatingInput">Account</label>
                                    <input type="text" class="form-control background-bar" id="floatingInput" placeholder="Account" name="username">

                                </div>
                                <div class="form-floating mb-3">
                                    <label for="floatingPassword">Password</label>
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">

                                </div>

                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                        Remember password
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn  btn-login text-uppercase text-white fw-bold background-bar" type="submit">
                                        Sign in
                                    </button>
                                </div>
                                <div class="form-group">
                                    @Html.Raw(@ViewBag.StrError)
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
